/*.container-fluid*/
/*{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
html
{
    background-color: #222;
}
body
{
    background-color: transparent;
}

.craft-entry-body
{
    padding: 5%;
    color: white;
    font-family: Verdana;
}
/*----------------------------------------------------------LINKS & TITLES----------------------------------------------------------------------*/
a:hover, a:active, a:focus, a:visited
{
    color: limegreen;
}

h1
{
    color: limegreen;
    text-align: center;
}
/*----------------------------------------------------------NAV BAR & FOOTER----------------------------------------------------------------------*/


.xt-nav-bar
{
    border-bottom: 2px solid limegreen;
}

.xt-link > li > a, .xt-link, .xt-link:hover, .navbar-brand.xt-link
{
    color: limegreen;
    font-family: Avenir;
    font-weight: bold;
}

.xt-nav-bar .xt-link>li>a, .xt-nav-bar .xt-link>li>a:hover, .xt-nav-bar .xt-link>li>a:active, .xt-nav-bar .xt-link>li>a:focus
{
    color: limegreen;
}

.footer {
    position: absolute;
    bottom: 0;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    width: 100%;
    height: 6%;
    /*background-color: #e3e3e3;*/
    background-color: transparent;
    font-weight: bold;
    border-top: 1px solid limegreen;
    color: limegreen;
    text-align: center;
}

.footer-left
{
    text-align: left;
    padding-top: 4px;
}

.footer-center, .footer-right
{
    padding-top: 8px;
}

.footer-right
{
    text-align: right;
}
/*----------------------------------------------------------HOMEPAGE----------------------------------------------------------------------*/
/*.xt-homepage*/
/*{*/
    /*background: url("../images/night.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

.xt-homepage-content
{
    background: rgba(0,0,0,0.6);
    color: limegreen;
    text-align: center;
    border-bottom: 2px solid limegreen;
}

.p-jumbotron
{
    font-size: 2vw;
    color: white;
    padding-left:10%;
    padding-right: 10%;
}

/*----------------------------------------------------------LOGOS & BUTTONS----------------------------------------------------------------------*/
.small-logo
{
    width: 30px;
    height: 30px;
}

.medium-logo
{
    width: 18%;
    height: 18%;
}

.xt-btn
{
    background-color: limegreen;
    border-color: #00abe5;
    color: white;
    font-family: Avenir;
    font-weight: bold;
}

.xt-btn:hover, .xt-btn:focus
{
    background-color: #00abe5;
    border-color: #00abe5;
    color: white;
}

.xt-btn:active
{
    background-color: #0098cc;
    border-color: #0098cc;
    color: white;
}

#MyNavBarCollapse > ul > li > .xt-nav-btn-link
{
    padding: 0;
    margin-left: 4px;
}

.xt-btn-default, .xt-btn-default:hover
{
    background-color: white;
    border-color: limegreen;
    color: limegreen;
}